* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e3f2fd;
    height: 200vh;
    display: flex;
    justify-content: space-around;
}

.sbx-select-menu {
    width: 20rem;
    margin: 35rem auto;
    position: relative;
}

.sbx-select-menu .sbx-select-btn {
    display: flex;
    background-color: #fff;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 400;
    border-radius: .5rem;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.sbx-select-btn i {
    font-size: 1rem;
    transition: all 0.2s linear;
}

.sbx-select-container {
    position: absolute;
    margin-top: 1rem;
    border-radius: .5rem;
    padding: 1rem;
    top: 3rem;
    right: 0;
    left: 0;
    bottom: initial;
    max-height: 0;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    transition: max-height 0.1s linear;
}

.sbx-hide {
    display: none !important;
}

.sbx-height {
    max-height: 20rem;
}

::-webkit-scrollbar {
    width: 0.6rem;
  }

::-webkit-scrollbar-track {
    background-color: rgba(167, 167, 167, 0.5);
    width: 0.6rem;
    border-radius: 10rem;
}
  
::-webkit-scrollbar-thumb {
    background-color: #7e7e7e;
    border-radius: 10rem;
}

.sbx-open-up {
    bottom: 4rem;
    top: initial;
}

.sbx-select-container .sbx-option {
    display: flex;
    cursor: pointer;
    padding: .5rem;
    border-radius: .5rem;
    background-color: #fff;
}

.sbx-search #sbx-input-search {
    padding: .5rem 1rem;
    border: none;
    width: 100%;
    font-size: 1rem;
}

.sbx-search {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border-radius: .5rem;
    border: 1px solid #000;
    margin-bottom: .5rem;
}

.sbx-search:hover,.sbx-search 
#sbx-input-search:hover,
.sbx-search:hover #sbx-input-search {
    background-color: #f2f2f2;
}

.sbx-search #sbx-input-search:focus {
    outline: none;
}

.sbx-select-container .sbx-option:hover {
    background-color: #f2f2f2;
}

.sbx-option i {
    font-size: 1rem;
    margin-right: 1rem;
}

.sbx-option:hover i{
    color: rgb(5, 5, 5);
    text-shadow: 0 1px 0 #000;
}

.sbx-option .sbx-option-text {
    font-size: 1.1rem;
    color: #333;
}

.sbx-rotate-down {
    transform: rotate(-90deg);
}

.sbx-rotate-up {
    transform: rotate(90deg);
}

.sbx-disabled {
    background-color: #ececec !important;
    pointer-events: none;
}
